{% extends "base.html" %}

{% block title %}{{ username }} - {{ block.super }}{% endblock %}

{% block content %}
    <h2 class="grid_4 suffix_5">{{ username }}&rsquo;s Wall</h2>
    <ul id="timeline" class="grid_9 alpha">
             
	 {% for post in posts %}
	   {% if post.type == '0' %}
            <li>
                <span class="username"><b><font color="red">{{ post.userid }}</font></b></span>
                <span class="body">{{ post.body|urlize }}</span>
            </li>
	  {% else %}
	    <li>
                <span class="username"><b><font color="red">{{ post.0.1 }}</font></b></span>
                <span class="body"><img height="50" width="50" src="data:image/gif;base64,{{ post.2.1 }}"/></span> 
            </li>
	  {% endif %}
        {% empty %}
            <li>There are no posts yet.  Make sure to post one!</li>
        {% endfor %}
        {% if next %}
            <li class="more"><a href="?start={{ next }}">More</a></li>
        {% endif %}
    </ul>
{% endblock %}

{% block sidebar %}
        {% ifnotequal request.user.id user.id %}
            <form method="POST" action="{% url modify_friend %}?next={{ request.path }}">
                <input type="hidden" name="{% if user.friend %}remove{% else %}add{% endif %}-friend" value="{{ user.id }}" />
                <input type="submit" value="{% if user.friend %}Remove{% else %}Add{% endif %} Friend" />
            </form>
        {% endifnotequal %}    
{% endblock %}
